<%# TODO: 登録時、ログイン時でクラスを分けたい %>
<div class="inputFormIndex login openItem">
  <%= render 'users/shared/side_menu' %>
  <div class="openItem__wrapper">
    <h1 class="inputFormIndex__title"><%= first_sign_in? ? 'プロフィール' : '会員登録' %></h1>
    <div class="inputFormIndex__wrapper">
      <%= render "users/shared/profile_links" %>
      <div class="formDetailItem">
        <div class="basicHead edit">
          <div class="wrapper">
            <h3 class="basicHead__title">学歴</h3>
            <p class="basicHead__sub">educational background</p>
          </div>
          <%= link_to '編集する', edit_users_educational_backgrounds_path, class: 'generalButton outlineBlack textBlack edit' %>
        </div>
        <div class="infoFormItemGroup">
          <div class="infoFormItem educational infoFormItemGroup__box">
            <div class="wrapper">
              <h3 class="infoFormItem__title required">最終学歴</h3>
              <p class="infoFormItem__text"><%= @educational_background.recent_academic_history %></p>
            </div>
          </div>
          <div class="infoFormItem educational infoFormItemGroup__box">
            <div class="wrapper">
              <h3 class="infoFormItem__title required">学校名</h3>
              <p class="infoFormItem__text"><%= @educational_background.school_name %></p>
            </div>
          </div>
          <div class="infoFormItem educational infoFormItemGroup__box">
            <div class="wrapper">
              <h3 class="infoFormItem__title required">学部名</h3>
              <p class="infoFormItem__text"><%= @educational_background.faculty_name %></p>
            </div>
          </div>
          <div class="infoFormItem educational infoFormItemGroup__box">
            <div class="wrapper">
              <h3 class="infoFormItem__title required">卒業年度</h3>
              <p class="infoFormItem__text"><%= @educational_background.graduated_year %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
