<%= search_form_for q, url: users_propositions_path, class: 'searchBoxContent' do |f| %>
  <details>
    <summary><%= f.label :job_kind, class: 'searchBoxContent__title' %></summary>
    <div class="formGroup">
      <%= f.collection_check_boxes :job_kinds_id_eq_any, JobKind.all, :id, :name, class: 'formCheckBox' do |checkbox| %>
        <div class="formCheckBox">
          <%= checkbox.check_box(class: "formCheckBox__item") %>
          <%= checkbox.label(class: "formCheckBox__text") %>
        </div>
      <% end %>
    </div>
  </details>
  
  <details>
    <summary><%= f.label :work_range, class: 'searchBoxContent__title' %></summary>
    <div class="formGroup">
      <%= f.collection_check_boxes :work_ranges_id_eq_any, WorkRange.all, :id, :name, class: 'formCheckBox' do |checkbox| %>
        <div class="formCheckBox">
          <%= checkbox.check_box(class: "formCheckBox__item") %>
          <%= checkbox.label(class: "formCheckBox__text") %>
        </div>
      <% end %>
    </div>
  </details>

  <div class="wrapper">
    <%= f.label :industry_id, class: 'searchBoxContent__title' %>
    <%= f.select :industry_name_eq_any, Industry.pluck(:name), { include_blank: "業界を選択してください" }, class: 'borderBottomFiled selectField__industry' %>
  </div>

  <div class="wrapper">
    <%= f.label :unit_price, class: 'searchBoxContent__title' %>
    <div class="flexRowWrapper">
      <%= f.number_field :unit_price_gteq, class: 'borderBottomFiled numberField__unitPrice' %>&emsp;万円 ~&emsp;
      <%= f.number_field :unit_price_lteq, class: 'borderBottomFiled numberField__unitPrice' %>&emsp;万円
    </div>
  </div>

  <div class="wrapper">
    <%= f.label :working_hour_per_month, class: 'searchBoxContent__title' %>
    <div class="flexRowWrapper">
      <%= f.number_field :estimated_work_time_from_gteq, class: 'borderBottomFiled numberField__workingHourPerMonth' %>&emsp;時間 ~&emsp;
      <%= f.number_field :estimated_work_time_to_lteq, class: 'borderBottomFiled numberField__workingHourPerMonth' %>&emsp;時間
    </div>
  </div>

  <div class="wrapper">
    <%= f.label :contract_period, class: 'searchBoxContent__title' %>
    <div class="flexRowWrapper">
      <%= f.number_field :contract_period_gteq, class: 'borderBottomFiled numberField__contractPeriod' %>&emsp;ヶ月 ~&emsp;
      <%= f.number_field :contract_period_lteq, class: 'borderBottomFiled numberField__contractPeriod' %>&emsp;ヶ月
    </div>
  </div>
  <%= f.submit '検索', class: 'generalButton search bgBlack textWhite' %>

  <div class="generalButton modalClose bgGray-5 textWhite">
    キャンセル
  </div>
<% end %>

    