<%# TODO: 登録時、ログイン時でクラスを分けたい %>
<div class="inputFormIndex login openItem">
  <%= render 'users/shared/side_menu' %>
  <div class="openItem__wrapper">
    <h1 class="inputFormIndex__title"><%= first_sign_in? ? 'プロフィール' : '会員登録' %></h1>
    <div class="inputFormIndex__wrapper">
      <%= render "users/shared/profile_links" %>
      <div class="formDetailItem">
        <div class="basicHead edit">
          <div class="wrapper">
            <h3 class="basicHead__title">複業経験</h3>
            <p class="basicHead__sub">multiple work</p>
          </div>
          <%= link_to '編集する', users_double_job_experiences_edit_path, class: 'generalButton outlineBlack textBlack edit' %>
        </div>
        <p class="formDetailItem__text">
          ※個人情報に関わるため、企業側へ情報は開示されません。<br>
          おすすめ案件をご紹介する際などの参考情報として利用させていただきます。
        </p>
        <div class="infoFormItemGroup">
          <div class="infoFormItem multipleWork infoFormItemGroup__box">
            <div class="wrapper">
              <h3 class="infoFormItem__title required">複業経験</h3>
              <p class="infoFormItem__text"><%= current_user.second_job_experience ? 'あり' : 'なし' %></p>
            </div>
          </div>
          <% if current_user.second_job_experience %>
            <% @double_job_experiences.each do |double_job_experience| %>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">会社名</h3>
                <p class="infoFormItem__text"><%= double_job_experience.company_name %></p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">職種</h3>
                <p class="infoFormItem__text"><%= double_job_experience.job_kind.name %></p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">月収</h3>
                <p class="infoFormItem__text">
                  <%= double_job_experience.monthly_income %>
                  万円
                </p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">稼働時間</h3>
                <p class="infoFormItem__text">
                  1日
                  <%= double_job_experience.working_hours %>
                  時間
                </p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">複業開始年月</h3>
                <p class="infoFormItem__text"><%= double_job_experience.employment_start_date %></p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title height required">複業時の<br>就業終了年月</h3>
                <p class="infoFormItem__text"><%= double_job_experience.employment_end_date %></p>
              </div>
            </div>
            <div class="infoFormItem multipleWork infoFormItemGroup__box">
              <div class="wrapper">
                <h3 class="infoFormItem__title required">業務内容</h3>
                <p class="infoFormItem__text"><%= double_job_experience.business_experience %></p>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
