<div class="propositionsIndex openItem">
  <%= render 'companies/shared/side_menu' %>
  <div class="openItem__wrapper">
    <div class="propositionsIndex__title">
      <h2 class="title">応募者一覧</h2>
      <%# TODO: 新規案件を登録ボタン / 劣後対応 %>
    </div>
    <div class="propositionsIndex__detail">
      <p class="count">全<span class="big"><%= @proposition_entries.count %></span>件</p>
      <div class="flex">
        <%# TODO: 最小値、最大値を動的に取得したい？ %>
        <%# 1〜6件を表示 %>
        <%# TODO: select にしてほしい %>
        <%# sort_link(@q, :created_at, t('activerecord.attributes.proposition_entry.created_at'), default_order: :desc) %>
      </div>
    </div>

    <table class="propositionsList">
      <thead>
        <tr>
          <%#<th>案件ID</th> %>
          <th>応募日</th>
          <th>ユーザーID</th>
          <th>案件タイトル</th>
          <th>月間希望労働時間</th>
          <th class="request">ご要望</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @proposition_entries.each do |proposition_entry| %>
          <tr>
            <td><%= l proposition_entry.created_at, format: :date_joins_dot %></td>
            <td><%= link_to_if proposition_entry.user.active?, proposition_entry.user_id, entry_user_companies_proposition_entry_path(proposition_entry.id), class: 'link' %></td>
            <td><%= proposition_entry.proposition.title %></td>
            <td><%= proposition_entry.estimated_work_time %>時間</td>
            <td><%= proposition_entry.request %></td>
            <td><%= proposition_entry.status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
