<div class="container mt-5">
  <% provide(:title, "勤怠管理_新規月登録") %>
  <div>
    <%= form_with model: @monthly_unit_price, url: admins_attendance_monthly_unit_prices_path do |f| %>
      <%= render "admins/shared/error_messages", resource: @monthly_unit_price %>
      <table class="table">
        <tr>
          <th>年</th>
          <td>
            <%= f.select :year,
                         (2023..Time.current.year.to_i).to_a,
                         {},
                         :class => "form-select" %>
          </td>
        </tr>
        <tr>
          <th>月</th>
          <td><%= f.select :month, (1..12).to_a, {}, :class => "form-select" %></td>
        </tr>
        <tr>
          <th>当月時給</th>
          <td>
            <div class="d-flex align-items-center">
              <%= f.number_field :unit_price, class: "form-control" %>
              <div>円</div>
            </div>
          </td>
        </tr>
        <div>
          <%= f.hidden_field :active, value: true %>
        </div>
        <tr>
          <th>契約時時給</th>
          <td><%= @proposition.unit_price_per_hour %>円</td>
        </tr>
      </table>
      <div class="text-center mt-3">
        <div class="actions">
          <%= f.submit "新規月登録", class: "mb-3 btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>