<div class="text-center mt-5">
  <% provide(:title, "ユーザー一覧") %>

  <%= render 'search' %>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th><%= t('activerecord.attributes.user.email') %></th>
        <th><%= t('activerecord.attributes.user.last_name') %></th>
        <th><%= t('activerecord.attributes.user.first_name') %></th>
        <th><%= t('activerecord.attributes.user.last_name_kana') %></th>
        <th><%= t('activerecord.attributes.user.first_name_kana') %></th>
        <th><%= t('activerecord.attributes.user.phone_number') %></th>
        <th><%= t('activerecord.attributes.user.postal_code') %></th>
        <th><%= t('activerecord.attributes.user.address') %></th>
        <th><%= t('activerecord.attributes.user.gender') %></th>
        <th><%= t('activerecord.attributes.user.birthday') %></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name_kana %></td>
          <td><%= user.first_name_kana %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.postal_code %></td>
          <td><%= user.address %></td>
          <td><%= user.gender %></td>
          <td><%= user.birthday %></td>
          <td><%= link_to '詳細', admins_user_path(user.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
