<div class="attendanceIndex openItem">
  <%= render 'users/shared/side_menu' %>
  <div class="openItem__wrapper">
    <h2 class="attendanceIndex__title">勤怠管理</h2>
    <div class="attendanceIndex__wrapper">
      <table class="attendanceTable">
        <tbody>
          <% @proposition_contracts.each do |proposition_contract| %>
            <tr>
              <td>
                <% if proposition_contract.proposition.attendance&.monthly_unit_prices.present? %>
                  <%= link_to proposition_contract.proposition.title, users_attendance_path(proposition_contract.proposition.attendance.id, year: proposition_contract.proposition.attendance&.monthly_unit_prices.first.year, month: proposition_contract.proposition.attendance&.monthly_unit_prices.first.month) %></td>
                <% else %>
                  <%= proposition_contract.proposition.title %>
                <% end %>
              </td>
              <% if proposition_contract.proposition.attendance&.monthly_unit_prices.present? %>
                <td><%= link_to '勤怠管理', users_attendance_path(proposition_contract.proposition.attendance.id, year: proposition_contract.proposition.attendance&.monthly_unit_prices.first.year, month: proposition_contract.proposition.attendance&.monthly_unit_prices.first.month), class: 'generalButton bgBrown textWhite' %></td>
                <td><%= link_to '案件詳細を見る', users_proposition_path(proposition_contract.proposition.id), class: 'generalButton bgBrown textWhite' %></td>
              <% else %>
                <td colspan="2"><%= link_to '案件詳細を見る', users_proposition_path(proposition_contract.proposition.id), class: 'generalButton bgBrown textWhite' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
 </div>
</div>
