<!DOCTYPE html>
<html>
  <head>
    <title>SOKKIN</title>
    <%= favicon_link_tag('/favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# TODO: user / company で分けるために仮でコメントアウトしたい %>
    <%= stylesheet_link_tag 'users/style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admins/style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
