<p id="notice"><%= notice %></p>
<div class="text-center mt-5">
  <% provide(:title, "案件一覧") %>

  <div class="ml-3">
    <table class="table table-hover">
      <thead>
      <tr>
        <th  class="heading" scope="col">ステータス</th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.company.name') %></th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.proposition.title') %></th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.proposition.job_kind') %></th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.proposition.work_range') %></th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.proposition.status') %></th>
        <th  class="heading" scope="col"><%= t('activerecord.attributes.proposition.application_deadline') %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @propositions.each do |proposition| %>
        <tr>
          <td class="text" scope="row"><%= proposition.status_i18n %></td>
          <td class="text" scope="row"><%= proposition.company.name %></td>
          <td class="text" scope="row"><%= proposition.title %></td>
          <td class="text" scope="row">
            <% proposition.job_kinds.each do |job_kind| %>
              <%= job_kind.name %>
              <br>
            <% end %>
          </td>
          <td class="text" scope="row">
            <% proposition.work_ranges.each do |work_range| %>
              <%= work_range.name %>
              <br>
            <% end %>
          </td>
          <td class="text" scope="row"><%= proposition.status_i18n %></td>
          <td class="text" scope="row"><%= proposition.application_deadline %></td>
          <td class="text" scope="row"><%= link_to '詳細', admins_proposition_path(proposition.id), class: "btn btn-primary btn-sm", style: "width: 50px" %></td>
          <td class="text" scope="row"><%= link_to '編集', edit_admins_proposition_path(proposition.id), class: "btn btn-primary btn-sm", style: "width: 50px" %></td>
          <td class="text" scope="row"><%= link_to '削除', admins_proposition_path(proposition.id), class: "btn btn-danger btn-sm", style: "width: 50px", method: :delete, data: { confirm: '案件を削除しますか？' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to '案件作成', new_admins_proposition_path, class: "mb-3 btn btn-primary" %>
</div>